 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height:100vh;
  background: linear-gradient(rgba(54,163,255,255), rgba(49,27,110,255));

}

.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Roboto Mono', sans-serif;
  text-align: center;
  font-size: 40px;
  color: white;
}

#digitalClock {
}

img {
  height: 250px;
  width: auto;
  margin-top: 40px;
  margin-bottom: : 40px;
}

#clockDisplay {
  font-family: 'Roboto Mono', sans-serif;
  color:white;
  font-size: 70px;
  margin-top: 20px;
}

.controls {
  margin-top: 20px;
}

#startStop {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding: 10px 20px;
  margin-right: 15px;
  border: none;
  background: none;
}

#reset {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 40px;
  padding: 10px 20px;
  margin-left: 15px;
  border: none;
  background: none;
}
